.log{
    width: 13vw;
    height: 4vh;
    border-radius: 5px;
   

}

.mlog{
    margin: auto;
    width: 12%;
    margin-top: 10%;
}

.button{
    width: 13vw;
    height: 4vh;
    border-radius: 2px;
    background-color: rgb(216, 210, 211);
}

body{
    background: url('bg1.jpg')
    no-repeat center center fixed;
    background-size:cover;
}

.logh{
    text-align: center;
    color: white;
    margin-bottom: 10%;
}

.reg{
    
    text-align: center;
    text-decoration: none;
    color: white;
}

.vpro{
   text-align: center;
   color: white;
   
}
/*------------------------------- cart --------------------------------------*/

